fastapi
uvicorn
pandas
scikit-learn==1.8.0
mlflow
torch==2.4.1+cpu --index-url https://download.pytorch.org/whl/cpu
sentence-transformers==5.2.2
prometheus-client
joblib
kafka-python
psycopg2-binary
python-multipart
