apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  storageClassName: ""   # VERY IMPORTANT
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
