name: Build and Push Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build API image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/mental-health-app:${{ github.sha }} .
      
      - name: Build Airflow image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/airflow-mlops:${{ github.sha }} -f docker/airflow.Dockerfile .

      - name: Push images
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/mental-health-app:${{ github.sha }}
          docker push ghcr.io/${{ github.repository_owner }}/airflow-mlops:${{ github.sha }}
